<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/create_appointment.css" />
  </head>
  <body>
    <%- include('../../layouts/header'); -%>

    <div class="container-success">
      <div class="container-success-content">
        <img src="/images/success.png" alt="" />
        <h1>Đặt lịch khám thành công</h1>
        <a href="/">Trở về Trang chủ</a>
      </div>
    </div>
    <%- include('../../layouts/footer'); -%>
  </body>
</html>
