<footer>
  <div class="about-us">
    <a href="/">HealthCare</a>
    <p>Hân hạnh phục vụ khách hàng.</p>
  </div>
  <div class="services">
    <a href="/">Dịch vụ</a>
    <p>Chăm sóc sức khỏe.</p>
    <p>Tư vấn sức khỏe.</p>
    <p>Rèn luyện sức khỏe.</p>
  </div>
  <div class="links">
    <a href="/">Liên kết</a>
    <p>Trang chủ.</p>
    <p>Bác sĩ.</p>
    <p>Lịch hẹn.</p>
  </div>
  <div class="subcrices">
    <a href="/">Đăng ký</a>
    <input type="text" placeholder="Nhập email" />
    <button>Đăng ký</button>
  </div>
</footer>
